.embed-container
  video(src='/videos/SlicenDice.mp4', frameborder='0', allowfullscreen='')
.embed-container
  video(src='/videos/lucea-long.mp4', frameborder='0', allowfullscreen='')
.embed-container
  video(src='/videos/Kweebe.mp4', frameborder='0', allowfullscreen='')
