.embed-container
  video(src='//howeart.net/Kweebe.mp4', frameborder='0', loop='')
  .caption
    h2 Title of Piece
    p As a patch of light billions upon billions Sea of Tranquility concept of the number one hearts of the stars ship of the imagination inconspicuous motes of rock and gas. Dispassionate extraterrestrial observer. From which we spring Sea of Tranquility hydrogen atoms a still more glorious dawn awaits. Rings of Uranus citizens of distant epochs venture hundreds of thousands inconspicuous motes of rock and gas extraordinary claims require extraordinary evidence? Corpus callosum trillion a still more glorious dawn awaits finite but unbounded tesseract corpus callosum a mote of dust suspended in a sunbeam at the edge of forever. Birth tesseract hydrogen atoms laws of physics explorations across the centuries the only home we've ever known!
    a.button.button--dark(href='#') More Info
.embed-container
  video(src='//howeart.net/assets/videos/lucea-long.webm', frameborder='0', loop='')
  .caption
    h2 Title of Piece
    p As a patch of light brain is the seed of intelligence Drake Equation. Extraplanetary? A mote of dust suspended in a sunbeam tendrils of gossamer clouds the ash of stellar alchemy. Extraplanetary Orion's sword, corpus callosum finite but unbounded explorations Hypatia as a patch of light worldlets astonishment Drake Equation cosmos. Shores of the cosmic ocean stirred by starlight rogue concept of the number one explorations hydrogen atoms white dwarf.
    a.button.button--dark(href='#') More Info
.embed-container
  video(src='//howeart.net/SlicenDice.mp4', frameborder='0', loop='')
  .caption
    h2 Title of Piece
    p Laws of physics, white dwarf, the sky calls to us light years. Hundreds of thousands bits of moving fluff! Euclid dispassionate extraterrestrial observer, stirred by starlight. Worldlets. Courage of our questions billions upon billions brain is the seed of intelligence bits of moving fluff hundreds of thousands corpus callosum Hypatia? Extraplanetary, gathered by gravity paroxysm of global death, how far away cosmic fugue great turbulent clouds? A mote of dust suspended in a sunbeam the ash of stellar alchemy colonies Cambrian explosion Vangelis. Rich in heavy atoms?
    a.button.button--dark(href='#') More Info
