.embed-container
  position relative
  padding-bottom 56.25%
  height 0
  overflow hidden
  max-width 100%

.embed-container video
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  vertical-align top

.caption
  position absolute
  top 50%
  transform translateY(-50%)
  right 20px
  background rgba(white, .85)
  width 300px
  // color white
  padding 30px
  z-index 3

  &, h2
    font-weight 300

  h2
    text-transform uppercase
    font-size 18px
    letter-spacing .125rem
    margin 0

  p
    font-size 14px
    line-height 1.5
